* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.quiz-container {
  background: #eee;
  margin: 30px auto;
  width: 1100px;
}
.quiz-container .header {
  text-align: center;
  padding: 20px;
  background-color: #bfbcbcf0;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.quiz-container .selected-quiz {
  text-align: center;
  padding: 15px;
  background-color: white;
  font-size: 20px;
}
.quiz-container .selected-quiz select {
  border: 1px solid #bfbcbcf0;
  padding: 5px;
  text-align: center;
  color: indianred;
  font-size: 16px;
}
.quiz-container .category {
  padding: 5px;
  border-bottom: 2px solid #bfbcbcf0;
  margin: 5px;
}
.quiz-container .category span {
  color: indianred;
}
.quiz-container .count {
  margin: 5px;
  border-bottom: 2px solid #bfbcbcf0;
  padding: 5px;
}
.quiz-container .count .lvlChossen {
  color: indianred;
}
.quiz-container .question {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  background-color: white;
  font-weight: bold;
  margin: 15px;
  border-radius: 10px;
}
.quiz-container .answers-area {
  padding: 10px;
  background-color: white;
  margin: 15px;
  border-radius: 10px;
}
.quiz-container .answers-area .answer {
  padding: 5px;
  margin: 8px 2px;
  background-color: #eee;
}
.quiz-container .answers-area .answer input[type="Radio"]:checked + label {
  color: #0075ff;
}
.quiz-container .answers-area .answer label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 14px;
  position: relative;
  top: -1px;
  margin-left: 5px;
}
.quiz-container .submit {
  width: fit-content;
  padding: 15px;
  margin: 5px auto;
  background-color: indianred;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  font-size: 25px;
  font-weight: bold;
}
.quiz-container .bullets {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: white;
  padding: 15px;
}
.quiz-container .spans-bullets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
}
.quiz-container .spans-bullets span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 8px;
}
.quiz-container .spans-bullets span.on {
  background-color: #0075ff;
}
.quiz-container .bullets .countdown {
  color: indianred;
}
.quiz-container .result {
  margin: 5px;
  padding: 15px;

  font-size: 20px;
  border: 1px solid indianred;
  text-align: center;
  border-radius: 15px;
  color: indianred;
}
.quiz-container .result span {
  font-weight: bold;
}
.quiz-container .result .perfect {
  color: #0075ff;
}
.quiz-container .result .good {
  color: aqua;
}
.quiz-container .result .bad {
  color: red;
}
